<md-sidenav id="sidebar" layout="column" class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" ng-cloak>
  <md-toolbar id="sidebar-header" class="md-tall">
    <div class="md-toolbar-tools-bottom inset">
      <div>Clinical Skills Data Server</div>
      <br/>
      <div>West Virginia School of Osteopathic Medicine</div>
    </div>
  </md-toolbar>
  <md-divider></md-divider>
  <md-button type="button" href="<%= root_url %>" class="sidebar-button">Home</md-button>
  <md-divider></md-divider>
  <md-button type="button" href="<%= root_url %>systems" class="sidebar-button">Systems</md-button>
  <md-divider></md-divider>
  <md-button type="button" href="<%= root_url %>exam_techniques" class="sidebar-button">Exam Techniques</md-button>
  <md-divider></md-divider>
  <md-button type="button" href="<%= root_url %>components" class="sidebar-button">Components</md-button>
  <md-divider></md-divider>
  <md-button type="button" href="<%= root_url %>muscles" class="sidebar-button">Muscles</md-button>
  <md-divider></md-divider>
  <md-button type="button" href="<%= root_url %>palpations" class="sidebar-button">Palpations</md-button>
  <md-divider></md-divider>
  <md-button type="button" href="<%= root_url %>ranges_of_motion" class="sidebar-button">Ranges Of Motion</md-button>
  <md-divider></md-divider>
  <md-button type="button" href="<%= root_url %>special_tests" class="sidebar-button">Special Tests</md-button>
  <md-divider></md-divider>
  <md-button type="button" href="<%= root_url %>image_links" class="sidebar-button">Image Links</md-button>
  <md-divider></md-divider>
  <md-button type="button" href="<%= root_url %>video_links" class="sidebar-button">Video Links</md-button>
  <md-divider></md-divider>
  <md-button type="button" href="<%= root_url %>personnel_acknowledgements" class="sidebar-button">Personnel Acknowledgements</md-button>
  <md-divider></md-divider>
  <md-button type="button" href="<%= root_url %>software_acknowledgements" class="sidebar-button">Software Acknowledgements</md-button>
  <md-divider></md-divider>
</md-sidenav>