<md-sidenav id="sidebar" layout="column" class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" ng-cloak>
  <md-toolbar id="sidebar-header" class="md-tall">
    <span flex></span>
    <div layout="column" class="md-toolbar-tools-bottom inset">
      <div>Clinical Skills</div>
      <div>West Virginia</div>
      <div>School of Osteopathic Medicine</div>
    </div>
  </md-toolbar>
  <md-divider></md-divider>
  <md-button type="button" href="<%= root_url %>" style="text-align: left; color: white">Home</md-button>
  <md-divider></md-divider>
  <md-button type="button" href="<%= root_url %>systems" style="text-align: left; color: white">Systems</md-button>
  <md-divider></md-divider>
  <md-button type="button" href="<%= root_url %>exam_techniques" style="text-align: left; color: white">Exam Techniques</md-button>
  <md-divider></md-divider>
  <md-button type="button" href="<%= root_url %>components" style="text-align: left; color: white">Components</md-button>
  <md-divider></md-divider>
  <md-button type="button" href="<%= root_url %>muscles" style="text-align: left; color: white">Muscles</md-button>
  <md-divider></md-divider>
  <md-button type="button" href="<%= root_url %>palpations" style="text-align: left; color: white">Palpations</md-button>
  <md-divider></md-divider>
  <md-button type="button" href="<%= root_url %>ranges_of_motion" style="text-align: left; color: white">Ranges Of Motion</md-button>
  <md-divider></md-divider>
  <md-button type="button" href="<%= root_url %>special_tests" style="text-align: left; color: white">Special Tests</md-button>
  <md-divider></md-divider>
  <md-button type="button" href="<%= root_url %>image_links" style="text-align: left; color: white">Image Links</md-button>
  <md-divider></md-divider>
  <md-button type="button" href="<%= root_url %>video_links" style="text-align: left; color: white">Video Links</md-button>
  <md-divider></md-divider>
  <md-button type="button" href="<%= root_url %>personnel_acknowledgements" style="text-align: left; color: white">Personnel Acknowledgements</md-button>
  <md-divider></md-divider>
  <md-button type="button" href="<%= root_url %>software_acknowledgements" style="text-align: left; color: white">Software Acknowledgements</md-button>
  <md-divider></md-divider>
</md-sidenav>