<script type="text/javascript" src="<%= asset_path 'new_system_dialog_controller.js' %>"></script>
<script type="text/javascript" src="<%= asset_path 'edit_components_dialog_controller.js' %>"></script>
<script type="text/javascript" src="<%= asset_path 'edit_exam_techniques_dialog_controller.js' %>"></script>
<script>
	var new_system_dialog_html_path = "<%= asset_path 'new_system_dialog.html' %>";
	var edit_links_dialog_html_path = "<%= asset_path 'edit_components_dialog.html' %>";
	var edit_links_dialog_html_path = "<%= asset_path 'edit_exam_techniques_dialog.html' %>";
</script>
<md-content ng-controller="SystemsController">
	<md-card>
	    <md-toolbar class="md-table-toolbar md-default">
	      <div class="md-toolbar-tools">
	      	<md-icon class="material-icons">search</md-icon>
	      	<form flex name="filter.form">
	      		<input autofocus class="search-bar" type="text" ng-model="query.filter" placeholder="Search">
	      	</form>
	        <md-button class="md-icon-button" ng-click="query.filter = ''" aria-label="clear">
	        	<md-icon class="material-icons">clear_all</md-icon>
	        </md-button>
	        <md-button class="md-raised" ng-click="editing = !editing" ng-hide="editing" aria-label="edit">Edit</md-button>
	        <md-button class="md-raised md-primary end-edit-button" ng-click="done()" ng-show="editing" aria-label="save">Done</md-button>
	      </div>
	    </md-toolbar>
		<md-table-container>
			<table md-table md-progress="systemsPromise">
				<thead md-head md-order="query.order">
					<tr md-row>
						<th md-column md-order-by="name"><span>Name</span></th>
						<th md-column md-order-by="details"><span>Details</span></th>
						<th md-column md-order-by="components"><span>Components</span></th>
						<th md-column md-order-by="exam_techniques"><span>Exam Techniques</span></th>
						<th md-column ng-hide="!editing"><span>Delete</span></th>
					</tr>
				</thead>
				<tbody md-body>
					<tr md-row md-select="system" md-select-id="{{system.id}}" ng-repeat="system in systems | filter: query.filter | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
						<td md-cell ng-click="editName($event, system)">
							{{system.name}}
						</td>
						<td md-cell ng-click="editDetails($event, system)">
							{{system.details}}
						</td>
						<td md-cell>
							<md-button class="md-primary" ng-click="editComponents($event, system)" aria-label="components">
								{{system.components.length}} {{(system.components.length == 1) ? "Component" : "Components"}}
							</md-button>
						</td>
            <td md-cell>
              <md-button class="md-primary" ng-click="editExamTechniques($event, system)" aria-label="links">
                {{system.exam_techniques.length}} {{(system.exam_techniques.length == 1) ? "Exam Technique" : "Exam Techniques"}}
              </md-button>
            </td>
						<td md-cell ng-hide="!editing">
							<md-button class="md-icon-button" ng-click="delete(system)" aria-label="delete">
	        					<md-icon class="material-icons md-warn md-hue-2" style="fill: inherit">delete</md-icon>
	        				</md-button>
						</td>
					</tr>
				</tbody>
			</table>
		</md-table-container>
		<md-table-pagination md-page-select md-limit="query.limit" md-page="query.page" md-total="{{systems.length}}"></md-table-pagination>

		<md-button class="md-fab" ng-click="newSystem($event)" aria-label="add">
			<md-icon class="material-icons">add</md-icon>
		</md-button>

	</md-card>
</md-content>