<!DOCTYPE html>
<html ng-app="Clinical-Skills-Data-Server" ng-strict-di>
  <head>
    <title>Clinical Skills Data Server</title>

    <%= render :partial => 'partials/dependencies' %>

    <%= stylesheet_link_tag "application", params[:controller], :media => "all" %>
    <%= javascript_include_tag "application", params[:controller] %>

    <%= insert_paloma_hook %>

    <%= csrf_meta_tags %>
  </head>

  <body id="body" layout="row" ng-controller="BodyController" ng-cloak>

    <%= render :partial => 'partials/sidebar' %>

    <div layout="column" class="relative" layout-fill role="main">
      <% unless @hide_toolbar %>
        <md-toolbar id="toolbar" class="md-hue-2">
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md aria-label="menu">
              <md-icon class="material-icons">menu</md-icon>
            </md-button>

            <h1>
              <%= @toolbar_title %>
            </h1>
          </div>
        </md-toolbar>
      <% end %>

      <%= yield %>

    </div>

  </body>
</html>